{% extends '::_adminContainer.html.twig' %}

{% block title %}{% trans with {'%title%' : entity.title } from "admin" %}Project edit - "%title%"{% endtrans %}{% endblock %}

{% block titlePage %}{% trans with {'%title%' : entity.title  } from "admin" %}Project edit - "%title%"{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('/css/prettyPhoto.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('/js/jquery.prettyPhoto.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function(){
            FormAction.singleEditFormPrettyPhoto('admin_image');
        })
    </script>
{% endblock %}
    
{% block content %}
    <form action="{{ path('admin_project_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}  class="main_form">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="content-tabs">
                <li><a href="#field-row-content"><i class="icon-align-left"></i> {% trans from "admin" %}Base content{% endtrans %}</a></li>
                <li><a href="#field-row-images"><i class="icon-picture"></i> {% trans from "admin" %}Images{% endtrans %}</a></li>
                <li><a href="#field-row-files"><i class="icon-file"></i> {% trans from "admin" %}Files{% endtrans %}</a></li>
                <li><a href="#field-row-meta"><i class="icon-globe"></i> {% trans from "admin" %}Metadata{% endtrans %}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="field-row-content">
                    {{form_row(edit_form.is_active)}}
                    {{form_row(edit_form.years)}}
                    {{form_row(edit_form.sort)}}
                    {{form_row(edit_form.alias)}}     
                    {{form_widget(edit_form.translations) }}
                    {{form_errors(edit_form.translations) }}
                </div>
                <div class="tab-pane" id="field-row-images">
                    {% include "ProjectBundle:Project:_tilesImages.html.twig" %}
                </div>
                <div class="tab-pane" id="field-row-files">
                    <ul class="files" data-prototype="{{ form_widget(edit_form.files.vars.prototype)|e }}">
                        {% for file in edit_form.files %}
                            {% include "ProjectBundle:Project:_file.html.twig" with {'file' : file }%}
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="field-row-meta">
                    {{form_widget(edit_form.meta) }}
                    {{form_errors(edit_form.meta) }}
                </div>
            </div>
        </div>
        {{ form_widget(edit_form._token) }} 
        {{ form_widget(edit_form.action) }}
    </form>

    <form action="{{ path('admin_project_delete', { 'id': entity.id }) }}" method="post"  class="delete_form" id="delete_form_{{entity.id}}">
        {{ form_widget(delete_form) }}
    </form>

    {% include "ProjectBundle:Project:_modalDeleteProject.html.twig" with {'id' : entity.id, 'title' : entity.title}%}
{% endblock %}

{% block sidebar %}
    {% include "ProjectBundle:Project:_editFormActions.html.twig" with {'entity' : entity }%}
{% endblock %}