{% extends 'FrontendContentBundle::_frontendContainer.html.twig' %}

{% block titlePage %}{{project.title}}{% endblock %}

{% block title %}
    {% if project.meta and project.meta.metaTitle|trim|length > 0 %}
        <title>{{project.meta.metaTitle}}</title>
    {% else %}
        <title>{{project.title|raw}}</title>
    {% endif%}
{% endblock %}
    
{% block meta_description %}
    {% if project.meta and project.meta.metaDescription|trim|length > 0 %}
        <meta name="description" content="{{project.meta.metaDescription|trim}}"/>
    {% endif %}
{% endblock %}
{% block meta_keywords %}
    {% if project.meta and project.meta.metaKeywords|trim|length > 0%}
        <meta name="keywords" content="{{project.meta.metaKeywords|trim}}"/>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('/css/prettyPhoto.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
    
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('/js/jquery.prettyPhoto.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function(){
            Frontend.singlePrettyPhoto('admin_image');
        })
    </script>
{% endblock %}
    
{% block breadCrumb %}
    <ul class="breadcrumb">
        <li><a href="{{"/"|localeLink}}">{% trans from 'content'%}Home page{% endtrans %}</a> <span class="divider">/</span></li>
        <li><a href="{{"/projects"|localeLink}}">{% trans from 'content'%}Projects{% endtrans %}</a> <span class="divider">/</span></li>
        {% if year is not null%}
            <li><a href="{{year|localeLink("/projects/year/")}}">{{year}}</a> <span class="divider">/</span></li>
        {% endif %}
        <li class="active">{{project.title}}</li>
    </ul>
{% endblock %}

{% block sidebar %}
    {% render(controller( "FrontendContentBundle:Menu:sidebarYearsMenu")) %}
{% endblock %}
    
{% block content %}
    <div class="item_news">
       {% for img in project.images %}
            {% if loop.index == 1%}
                <div class="main_img">
                   <img src="{{img.webPath | apply_filter('550x319_thumb')}}" alt="{{img.title}}"/>
                </div>
            {% endif %}
        {% endfor %}
       {{project.description|raw}}
       {% include 'FrontendContentBundle:Project:_images.html.twig' with {'images': project.images}%}
       {% include 'FrontendContentBundle:Project:_files.html.twig' with {'files': project.files}%}
   </div>
{% endblock %}