{% extends "form_div_layout.html.twig" %}
{% block form_row %}
   {% if errors|length == 0 %}
        <div class="symfony-form-row-{{name}}">
            {{ form_label(form) }}
            <div class="symfony-form-field">
                {{ form_widget(form) }}
                <div class="symfony-form-errors">
                    {{ form_errors(form) }}
                </div>
            </div>
        </div>
   {% else %}
        <div class="symfony-form-row-{{name}} control-group error">
            {{ form_label(form, null, {label_attr : {"class":"control-label"} }) }}
            <div class="symfony-form-field controls">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
   {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
    <ul class="error_list">
        {% for error in errors %}
            <li><span class="help-inline">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock form_errors %}