{% extends 'FrontendContentBundle::_frontendContainer.html.twig' %}

{% block titlePage %}{% trans from 'content'%}Reviews{% endtrans %}{% endblock %}

{% block title %}
    <title>{% trans from 'content'%}Reviews{% endtrans %}</title>
{% endblock %}
{% block meta_description %}
    <meta name="description" content="{% trans from 'content'%}Reviews{% endtrans %}"/>
{% endblock %}
{% block meta_keywords %}
    <meta name="keywords" content="{% trans from 'content'%}Reviews{% endtrans %}"/>
{% endblock %}

{% block breadCrumb %}
    <ul class="breadcrumb">
        <li><a href="{{"/"|localeLink}}">{% trans from 'content'%}Home page{% endtrans %}</a> <span class="divider">/</span></li>
        <li><a href="{{"/company"|localeLink}}">{% trans from 'content'%}Company{% endtrans %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans from 'content'%}Reviews{% endtrans %}</li>
    </ul>
{% endblock %}  

{% block sidebar %}
   {% render(controller( "FrontendContentBundle:Menu:sidebarMenu", {"alias" : 'reviews'})) %}
{% endblock %}
    
{% block content %}
    <div id="news">
        <p style="text-align: right">
            <a class="btn btn-wifinder" href="#reviewModal" role="button" data-toggle="modal"><i class="icon-comment icon-white"></i> {% trans from "content" %}Write a review{% endtrans %}</a>
        </p>
        {% if pagination|length > 0 %}
            <div class="couunt_results">{% trans from 'content' %}In all:{% endtrans %} <span>{{param.totalCount}}</span></div>
        <ul class="last_news">
            {% for item in pagination %}
                <li>
                    <div class="data_publish">{{ item.created|date("d.m.Y") }}</div>
                    <h3 class="title_news">{{item.user}}</h3>
                    <div class="anons">
                        {{ item.review|raw }}
                         <div class="clear"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% endif %}
        <div class="clear"></div>
    </div>
    {% render(controller( "FrontendContentBundle:Review:NewReview"))%}
{% endblock %}
    
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript">
        Frontend.InitCallback('{{ path('frontend_review_new_form')}}');
    </script>
{% endblock %}