{% extends '::_adminContainer.html.twig' %}

{% block title %}FileCategory edit{% endblock %}

{% block titlePage %}FileCategory edit{% endblock %}

{% block content %}
<form action="{{ path('file_category_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="main_form">
    {{ form_widget(edit_form) }}
</form>
{% endblock %}

{% block sidebar %}
<ul class="record_actions nav nav-tabs nav-stacked">
    <li>
        <a href="{{ path('file_category') }}">
            <i class="icon-list"></i> Back to the list
        </a>
    </li>
    <li>
        <a href="#" class="button_save_main_form">
            <i class="icon-hdd"></i> Edit
        </a>
    </li>
    <li>
        <form action="{{ path('file_category_delete', { 'id': entity.id }) }}" method="post" class="delete_form">
            {{ form_widget(delete_form) }}
        </form>
        <a href="#" class="button_delete_form">
            <i class="icon-trash icon-white"></i> Delete
        </a>
    </li>
</ul>
{% endblock %}
