<div class="btn-group">
    <a class="btn btn-small" href="{{ path('admin_menu_item_move_up', { 'menu_id': menu_id, 'id': entity.id }) }}" title="{% trans from 'admin'%}Move the node up{% endtrans %}">
        <i class="icon-chevron-up"></i>{% trans from 'admin'%}up{% endtrans %}</a> 
    <a class="btn btn-small" href="{{ path('admin_menu_item_move_down', { 'menu_id': menu_id, 'id': entity.id }) }}"  title="{% trans from 'admin'%}Move the node down{% endtrans %}">
        <i class="icon-chevron-down"></i>{% trans from 'admin'%}down{% endtrans %}</a>
    <a class="btn btn-small" href="{{ path('admin_menu_item_edit', { 'menu_id': menu_id, 'id': entity.id }) }}">
        <i class="icon-edit"></i>{% trans from 'admin'%}edit{% endtrans %}</a>
    <form action="{{ path('admin_menu_item_delete', { 'id': entity.id, 'menu_id': menu_id }) }}" method="post"  class="delete_form" id="delete_form_{{entity.id}}">
         <input type="hidden" id="form_id" name="form[id]" value="{{entity.id}}">
         <input type="hidden" id="form__token" name="form[_token]" value="{{delete_form._token.vars.value}}">
    </form>
    <a href="#deleteMenuModal_{{entity.id}}" role="button" class="btn btn-small btn-danger" data-toggle="modal">
        <i class="icon-trash icon-white"></i> {% trans from 'admin'%}delete{% endtrans %}
    </a>
</div>
{% include "MenuBundle:MenuItem:_modalDeleteMenu.html.twig" with {'id' : entity.id, 'title' : entity.title}%}
