{% extends '::_adminContainer.html.twig' %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('/js/jquery.prettyPhoto.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        FormAction.singlePrettyPhoto('admin_image');
    </script>
{% endblock %}
    
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('/css/prettyPhoto.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
    
{% block title %}{% trans from "admin" %}Image list{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from "admin" %}Image list{% endtrans %}{% endblock %}

{% block content %}
    <table class="records_list table table-condensed table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>{% trans from 'admin'%}Thumbs{% endtrans %}</th>
                <th>{% trans from 'admin'%}Content{% endtrans %}</th>
                <th class="table_middle_center">{% trans from 'admin'%}Is active?{% endtrans %}</th>
                <th class="table_middle_center">{% trans from 'admin'%}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr> 
                <td>
                    <a href="{{entity.webPath}}" rel="prettyPhoto[admin_image]">
                        <img src="{{entity.webPath | apply_filter('100x100_thumb')}}" alt="{{entity.title}}" class="image_list_thumb"/>
                    </a>
                </td>
                <td>
                    <div>
                        <div class="image_label_description"><b>{% trans from 'admin' %}Title{% endtrans %}:</b></div>
                        <div class="image_content_description">{{ entity.title }}</div>
                    </div>
                    <div class="image_box_description">
                        <div class="image_label_description"><b>{% trans from 'admin' %}Description{% endtrans %}:</b></div>
                        <div class="image_content_description">{{ entity.description|raw }}</div>
                    </div>
                </td>
                <td class="table_middle_center">
                     {% include "ImageGalleryBundle:Image:_labelActive.html.twig" %}
                </td>
                <td class="table_middle_center">
                    {% include "ImageGalleryBundle:Image:_listItemActions.html.twig" %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <b>{% trans from 'admin'%}Total images{% endtrans %}:</b> {{entities|length}}
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block sidebar %}
    {% include "ImageGalleryBundle:Image:_listActions.html.twig" %}
{% endblock %}
