{% extends '::_adminContainer.html.twig' %}

{% block title %}{% trans from "admin" %}Image creation{% endtrans %}{% endblock %}

{% block titlePage %}{% trans from "admin" %}Image creation{% endtrans %}{% endblock %}

{% block content %}
    <form action="{{ path('admin_image_gallery_create', {'category_id': category_id }) }}" method="post" {{ form_enctype(form) }} class="main_form">
        {{ form_row(form.is_active) }}
        {{ form_row(form.image) }}
        {{ form_widget(form.translations) }}
        {{ form_errors(form.translations) }}
        {{ form_row(form._token) }} 
        {{ form_row(form.action) }}
    </form>
{% endblock %}

{% block sidebar %}
    {% include "ImageGalleryBundle:Image:_newFormActions.html.twig" %}
{% endblock %}
