{% set layout = '_frontendContainer.html.twig' %}
{% if content.layout %}
    {% set layout = content.layout.file %}
{% endif %}
{% extends 'FrontendContentBundle::' ~ layout %}

{% block titlePage %}{{content.title|raw}}{% endblock %}

{% block title %}
    {% if content.meta and content.meta.metaTitle|trim|length > 0 %}
        <title>{{content.meta.metaTitle}}</title>
    {% else %}
        <title>{{content.title|raw}}</title>
    {% endif%}
{% endblock %}
    
{% block meta_description %}
    {% if content.meta and content.meta.metaDescription|trim|length > 0 %}
        <meta name="description" content="{{content.meta.metaDescription|trim}}"/>
    {% endif %}
{% endblock %}
{% block meta_keywords %}
    {% if content.meta and content.meta.metaKeywords|trim|length > 0%}
        <meta name="keywords" content="{{content.meta.metaKeywords|trim}}"/>
    {% endif %}
{% endblock %}

{% block sidebar %}
   {% render(controller( "FrontendContentBundle:Menu:sidebarMenu", {"alias" : content.alias })) %}
{% endblock %}

{% block content %}
   {{content.content|raw}}
{% endblock %}

{% block right_sidebar %}
    {{ parent() }}
    {% include "FrontendContentBundle:WebItem:_renderListItems.html.twig" with {"web_items" : content.webItems} %}
{% endblock %}
